	<div id="wrapper">
		<header>
            <img src="logo.png" alt="JS Parser">
        </header>
		<section>
			<h1>Top Down Operator Precedence. Lexical Analysis</h1>
	
			<div id="buttons"><a href="" class="button">GITHUB</a> <a href="" class="button">TESTS</a></div>
			<h2>Demonstration</h2>
			<textarea id="INPUT"></textarea>
			<div id="drop_zone">Drop a file here</div>
			<br/>

			<h2>...or select it for parsing</h2>
			<input type="file" id="fileinput" /><br/><br/>
			<input id="PARSE" value="PARSE" type=button class="button">
			<pre id=OUTPUT></pre>
		</section>
		
	</div>




