
<h1>Top Down Operator Precedence. Lexical Analysis</h1>

<div id="buttons"><a href="https://github.com/alu0100702149/practica4" class="button">GITHUB</a> <a href="/tests" class="button">TESTS</a></div>
<h2>Demonstration</h2>
<div id="drop_zone">Drop a file here</div>
<br/>

<h2>...or select it for parsing</h2>
<input type="file" id="fileinput" /><br/>
<textarea id="INPUT"></textarea>
<input id="PARSE" value="PARSE" type=button class="button"><br/>
<pre id=OUTPUT></pre>





