
<!DOCTYPE html>
<html>
  <head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>JS Parser</title>
	<link href="global.css" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="tests/mocha.css" />
	<link rel="shortcut icon" href="etsiiull.png" type="image/x-icon">

	<script src="parse.js"></script>
	<script src="tokens.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

	<script src="main.js"></script>

  </head>
  <body>
	<div id="wrapper">
		<header>
            <img src="logo.png" alt="JS Parser">
        </header>
		<section>
			<%= yield %>
		</section>		
	</div>
  </body>
</html>