
<div id="mocha"></div>
<script src="tests/chai.js"></script>
<script src="tests/mocha.js"></script>
<script>mocha.setup('tdd')</script>
<script src="tests/tests.js"></script>
<script>
  mocha.run();
</script>
<h1>Top Down Operator Precedence. Lexical Analysis (Tests)</h1>
<textarea id="INPUT"></textarea>
<input id="PARSE" value="PARSE" type=button class="button"><br/>
<pre id=OUTPUT></pre>




